<div class="recruiter-container">
  <div class="recruiter-hero">
    <video autoplay muted loop class="background-video">
      <source src="assets/videos/interview.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="navbar" [class.scrolled]="isScrolled">
      <div class="options name">VEDICA</div>
      <div class="options">Home</div>
      <div class="options">Professional</div>
      <div class="options" (click)="goToSkills()">Skills</div>
      <div class="options">Projects</div>
      <div class="options">Hire ME</div>
    </div>
    <div class="hero-content">
      <div class="hero-content-heading">
        <h1>Vedica - .NET Full Stack Developer</h1>
        <p>
          Dynamic and results-driven full-stack developer with 2 years of
          hands-on experience, I thrive at the intersection of creativity and
          technology. I specialize in building scalable, responsive, and
          user-centric web applications that not only meet business goals but
          also deliver an intuitive experience. Beyond writing clean code, I
          focus on understanding the end-user, optimizing performance, and
          continuously exploring new technologies to craft solutions that are
          both innovative and efficient. My mission is not just to develop
          applications, but to create digital experiences that leave a lasting
          impact.
        </p>
        <!-- <p>
          I have successfully worked on projects that span from dynamic web
          applications to complex enterprise solutions, mastering both frontend
          and backend technologies. My expertise includes Angular, Node.js,
          TypeScript, and database management, allowing me to architect
          solutions that are robust, maintainable, and scalable. I thrive in
          collaborative environments, actively contributing to team discussions,
          mentoring peers, and delivering projects on time without compromising
          quality. I am passionate about continuous learning, keeping up with
          industry trends, and implementing best practices to ensure every
          project exceeds expectations.
        </p> -->
        <!-- <p>
          I take pride in turning challenges into opportunities, whether it’s
          optimizing application performance, integrating APIs, or enhancing
          user experience. By combining analytical thinking, creativity, and
          technical expertise, I aim to develop applications that are not only
          functional but also visually appealing and engaging. My goal is to
          leverage my skills to create impactful digital products that solve
          real-world problems and provide measurable value to users and
          businesses alike.
        </p> -->
      </div>

      <div class="hero-content-footer">
        <div class="btn-resume">
          <img src="assets/videos/play.svg" />
          <h3>Resume</h3>
        </div>
        <div class="btn-linkedin">
          <img src="assets/videos/exclamation.svg" />
          <h3>Linkedin</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="second-row">
    <div class="header">
      <h2>Today's Top Picks For Recruiters</h2>
    </div>

    <div class="second-row-wrapper">
      <div class="second-row-track">
        <div class="content one">
          <h3>EXPERIENCE</h3>
        </div>
        <div class="content two" (click)="goToSkills()">
          <h3>SKILLS</h3>
        </div>
        <div class="content three">
          <h3>PROJECTS</h3>
        </div>
        <div class="content four">
          <h3>CERTIFICATIONS</h3>
        </div>
        <div class="content five">
          <h3>SKILLS</h3>
        </div>
        <div class="content six">
          <h3>SKILLS</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="second-row">
    <div class="header">
      <h2>Continue Watching for Recuriters</h2>
    </div>

    <div class="second-row-wrapper">
      <div class="second-row-track">
        <div class="content one">
          <h3>EXPERIENCE</h3>
        </div>
        <div class="content two">
          <h3>SKILLS</h3>
        </div>
        <div class="content three">
          <h3>PROJECTS</h3>
        </div>
        <div class="content four">
          <h3>CERTIFICATIONS</h3>
        </div>
        <div class="content five">
          <h3>SKILLS</h3>
        </div>
        <div class="content six">
          <h3>SKILLS</h3>
        </div>
      </div>
    </div>
  </div>
</div>
